html,
body {
	background: #d3cce3;
	background: -webkit-linear-gradient(to bottom, #e9e4f0, #d3cce3);
	background: linear-gradient(to bottom, #e9e4f0, #d3cce3);
}
.container {
	display: flex;
	height: 100vh;
	justify-content: center;
	margin-top: 5%;
}
#calc-background {
	display: flex;
	flex-direction: column;
	width: 360px;
	height: 600px;
	align-items: center;
	border-radius: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#header {
	display: flex;
	height: 100px;
	width: 100%;
	justify-content: space-around;
}
h1 {
	margin-top: auto;
}

#solar {
	height: 50px;
	width: 200px;
	background-color: black;
	margin-top: auto;
	margin-bottom: auto;
}
#display {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	width: 360px;
	height: 150px;
	background-color: black;
	color: whitesmoke;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	font-weight: 200;
}
.output {
	/* margin: 20px 20px; */
	margin-top: 20px;
	margin-bottom: 10px;
	margin-left: 20px;
	margin-right: 40px;
	font-family: 'Inter', sans-serif;
	font-size: 60px;
}
#numpad {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	font-family: 'Inter', sans-serif;
	width: 360px;
	height: 450px;
	padding-bottom: 10px;
	background-color: black;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}
#numpad > div {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background-color: #484848;
	color: whitesmoke;
	margin: 8px 5px;
}
#numpad > .operator,
#numpad > .equals {
	background-color: orange;
}
#numpad > .clear-btn,
#numpad > .blank-btn {
	background-color: #d0d0d0;
	color: black;
}
#numpad > #zero-btn {
	width: 125px;
	border-radius: 35px;
	justify-content: flex-start;
	padding-left: 25px;
}
.number,
.memory-btn,
.clear-btn,
.decimal {
	font-size: 30px;
}
